{{- define "layouts/login-layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="color-scheme" content="light dark" />
   <title>{{template "title" .}}</title>
   <link type="text/css" rel="stylesheet" media="screen" href="/static/css/pico.css" />
   <link type="text/css" rel="stylesheet" media="screen" href="/static/css/styles.css" />

   <script src="/static/js/libraries/htmx.min.js"></script>
   <script src="/static/js/pages/main-layout.js" type="module"></script>
</head>

<body>
   <header class="container">
      <nav>
         <ul>
            <li>
               <hgroup>
                  <h1><a href="/">Aletics</a></h1>
                  <p>Free, simple analytics</p>
               </hgroup>
            </li>
         </ul>
      </nav>
   </header>
   <!-- END NAV -->

   <main class="container">
      {{template "content" .}}
   </main>

   <footer class="container">
      <p>&copy; 2026 Adam Presley</p>
   </footer>

   {{javascriptIncludes "JavascriptIncludes" .}}
</body>

</html>
{{end}}
