{{- define "layouts/main-layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="color-scheme" content="light dark" />
   <title>{{template "title" .}}</title>
   <link type="text/css" rel="stylesheet" media="screen" href="/static/css/frameui.css" />

   <script src="/static/js/htmx.min.js"></script>
</head>

<body>
   <header class="grid top-header">
      <nav>
         <ul>
            <li>
               <h1>
                  <a href="/">Aletics</a>
               </h1>
            </li>
         </ul>
         <ul>
            <li><a href="/logout">Logout</a></li>
         </ul>
      </nav>
   </header>
   <!-- END NAV -->

   <main id="mainContent" class="container-fluid">
      {{template "content" .}}
   </main>

   <footer id="page-footer">
      <p>&copy; 2026</p>
   </footer>
</body>

</html>
{{end}}
